[submodule "server/frontend/graph"]
	path = server/frontend/graph
	url = git@github.com:TheZoq2/elm-graph.git
[submodule "models/scad_util"]
	path = models/scad_util
	url = git@github.com:TheZoq2/Rust-scad-util.git
[submodule "stm32f1xx-hal"]
	path = stm32f1xx-hal
	url = git@github.com:TheZoq2/stm32f1xx-hal.git
[submodule "esp01-rs"]
	path = esp01-rs
	url = git@github.com:TheZoq2/esp01-rs.git
[submodule "rtic_hardware/embedded-nrf24l01"]
	path = rtic_hardware/embedded-nrf24l01
	url = git@github.com:astro/embedded-nrf24l01.git
[submodule "basestation/rppal"]
	path = basestation/rppal
	url = git@github.com:golemparts/rppal.git
[submodule "rtic_hardware/stm32f1xx-hal"]
	path = rtic_hardware/stm32f1xx-hal
	url = git@github.com:TheZoq2/stm32f1xx-hal.git
[submodule "rtic_hardware/embedded-time"]
	path = rtic_hardware/embedded-time
	url = git@github.com:FluenTech/embedded-time.git
